{% extends 'artelApp/base_site.html' %}
{% block title %} Company {% endblock title %}

<!-- main -->
{% block content %}
  
<div class="right_col" role="main">

  <h2>Companies</h2>
  <div class="table-responsive">

    <!-- Category -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Companies table </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table">
              <thead>
                <tr>
                  <th>icon</th>
                  <th>short_info</th>
                  <th>info</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for companies in dataCompanies.companies  %}
                <tr>
                  <td>{{ companies.company_icon }}</td>
                  <td>{{ companies.company_short_info }}</td>
                  <td>{{ companies.company_info }}</td>
                  <td>
                    <a href="{% url 'updateCompanies' companies.id %}" class='btn btn-info'>Update</a>
                    <a href="{% url 'deleteCompanies' companies.id %}" class='btn btn-danger'>Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add company</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form data-parsley-validate class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_company_icon">Icon <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataCompanies.form.company_icon }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_company_short_info">Short info <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataCompanies.form.company_short_info }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_company_info">Info <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataCompanies.form.company_info }}
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
              <p><span>{{ dataCompanies.error }}</span></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}