{% extends 'artelApp/base_site.html' %}
{% block title %} Export {% endblock title %}

<!-- main -->
{% block content %}
  
<div class="right_col" role="main">

  <h2>Export</h2>
  <div class="table-responsive">

    <!-- Category -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Export table </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table">
              <thead>
                <tr>
                  <th>country naem</th>
                  <th>country icon</th>
                  <th>export % before</th>
                  <th>export % after</th>
                  <th>export year after</th>
                  <th>export year before</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for export in dataExport.export  %}
                <tr>
                  <td>{{ export.country }}</td>
                  <td>{{ export.country_icon }}</td>
                  <td>{{ export.export_percent_before }}</td>
                  <td>{{ export.export_percent_after }}</td>
                  <td>{{ export.export_year_before }}</td>
                  <td>{{ export.export_year_after }}</td>
                  <td>
                    <a href="{% url 'updateExport' export.id %}" class='btn btn-info'>Update</a>
                    <a href="{% url 'deleteExport' export.id %}" class='btn btn-danger'>Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add a export</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form data-parsley-validate class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_country">Country name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.country }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_country_icon">Country Icon<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.country_icon }}
                </div>
              </div>


              <div class="ln_solid"></div>
              <h2>export description</h2>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_description_uz">UZ <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.description_uz }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_description_ru">RU <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.description_ru }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_description_us">US <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.description_us }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_description_tr">TR <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.description_tr }}
                </div>
              </div>

              <div class="ln_solid"></div>
              <h2>export percent</h2>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_export_percent_before">export percent before <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.export_percent_before }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_export_percent_after">export percent after <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.export_percent_after }}
                </div>
              </div>

              <div class="ln_solid"></div>
              <h2>export year</h2>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_export_year_before">export percent before <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.export_year_before }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_export_year_after">export percent after <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataExport.form.export_year_after }}
                </div>
              </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
              <p><span>{{ dataExport.error }}</span></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}