{% extends 'artelApp/base_site.html' %}
{% block title %} Products / Goods {% endblock title %}


<!-- main -->
{% block content %}
  
<div class="right_col" role="main">

  <h2>Products / Goods</h2>
  <div class="table-responsive">

    <!-- Products / Goods -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Categories table </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table">
              <thead>
                <tr>
                  <th>Goods name</th>
                  <th>Title</th>
                  <th>Specification</th>
                  <th>Info</th>
                  <th>Image</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for good in dataGood.good  %}
                <tr>
                  <td>{{ good.cat_id }}</td>
                  <td>{{ good.title_uz }}</td>
                  <td>{{ good.specif_uz }}</td>
                  <td>{{ good.good_info_uz }}</td>
                  <td>{{ good.good_img }}</td>
                  <td>
                    <a href="{% url 'updateGood' good.id %}" class='btn btn-info'>Update</a>
                    <a href="{% url 'deleteGood' good.id %}" class='btn btn-danger'>Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add a product</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form data-parsley-validate class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="cats">Choose a category:</label>
                    <select name="cats" id="cats" class="form-control" required>
                      <option value="" disabled selected>Choose..</option>
                      {% for cat in dataGood.categorie %}
                      <option value="{{ cat.id }}">{{ cat }} </option>
                      {% endfor %}
                    </select>
              </div>

              <div class="ln_solid"></div>
              <h3>Add a title</h3>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">UZ <span class="required">*</span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.title_uz }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">RU <span class="required">*</span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.title_ru }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">EN <span class="required">*</span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.title_us }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">TR <span class="required">*</span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.title_tr }}
                  </div>
              </div>

              <div class="ln_solid"></div>
              <h3>Add a specification</h3>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">UZ <span class="required">*</span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.section_name_uz_list }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >RU <span class="required">*</span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.section_name_ru_list }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >EN <span class="required">*</span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.section_name_us_list }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >TR <span class="required">*</span>
                  
                </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.section_name_tr_list }}
                  </div>
              </div>

              <div class="ln_solid"></div>
              <h3>Add info</h3>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >UZ <span class="required">*</span>
                  
                </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.section_description_uz_list }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >RU <span class="required">*</span>
                  
                </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.section_description_ru_list }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >EN <span class="required">*</span>
                  
                </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.section_description_us_list }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >TR <span class="required">*</span>
                  
                </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.section_description_tr_list }}
                  </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_cat_img">Image <span class="required">*</span>
                  
                </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.good_img }}
                  </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="button">Cancel</button>
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
              <p><span>{{ good.error }}</span></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}