{% extends 'artelApp/base_site.html' %}
{% block title %} Feedbacks {% endblock title %}

<!-- main -->
{% block content %}
  
<div class="right_col" role="main">

  <h2>Feedbacks</h2>
  <div class="table-responsive">
    <!-- Feedbacks -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Reportrs table </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <table class="table">
              <thead>
                <tr>
                  {% for language in reports.languages  %}
                  <th> {{ language.language_id }} </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for language in reports.languages  %}
                  <td> {{ language.click_language }} </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
            <br>
            <br>
            <hr>

            <table class="table">
              <thead>
                <tr>
                  {% for category in reports.categories  %}
                  <th> {{ category.category_id }} </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for category in reports.categories  %}
                  <td> {{ category.click_category }} </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
            <br>
            <br>
            <hr>

            <table class="table">
              <thead>
                <tr>
                  {% for good in reports.goods  %}
                  <th> {{ good.good_id }} </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for good in reports.goods  %}
                  <td> {{ good.click_good }} </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
