<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>Artel Show Room</span></a>
  </div>

  <div class="clearfix"></div>

<br>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Dashboard </a></li>
        <li><a href="{% url 'category' %}"><i class="fa fa-home"></i> Categories </a></li>
        <li><a href="{% url 'good' %}"><i class="fa fa-home"></i> Products </a></li>
        <li><a href="{% url 'feedbacks' %}"><i class="fa fa-home"></i> Feedbacks </a></li>
        <li><a href="{% url 'report' %}"><i class="fa fa-home"></i> Reports </a></li>
        <li><a href="{% url 'stock' %}"><i class="fa fa-home"></i> Stocks </a></li>
        <li><a href="{% url 'companies' %}"><i class="fa fa-home"></i> Companies </a></li>
        <li><a href="{% url 'infos' %}"><i class="fa fa-home"></i> Informations(section) </a></li>
        <li><a href="{% url 'partner' %}"><i class="fa fa-home"></i> Partners </a></li>
        <li><a href="{% url 'export' %}"><i class="fa fa-home"></i> Exports </a></li>
        <li><a href="{% url 'ecologies' %}"><i class="fa fa-home"></i> Ecologies </a></li>
        <li><a href="{% url 'ecologies' %}"><i class="fa fa-home"></i> Ecologies </a></li>
        <li><a href="{% url 'innovation' %}"><i class="fa fa-home"></i> Innovations </a></li>
        <li><a href="{% url 'productBases' %}"><i class="fa fa-home"></i> Products Base </a></li>
        <li><a href="{% url 'service' %}"><i class="fa fa-home"></i> Services </a></li>
        
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <!-- <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div> -->
  <!-- /menu footer buttons -->
</div>
