{% extends 'artelApp/base_site.html' %}
{% block title %} Update {% endblock title %}

<!-- main -->
{% block content %}
  
<div class="right_col" role="main">

  <h2>Update</h2>
  <div class="table-responsive">

    <!-- Update -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add the product</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form data-parsley-validate class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="form-group">
                <label for="cats">Choose a category:</label>
                  {{ dataGood.form.category_id }}
              </div>

              <div class="ln_solid"></div>
              <h3>Add a title</h3>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">UZ <span class="required">*</span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12" for="id_title_uz">
                    {{ dataGood.form.title_uz }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_title_ru">RU <span class="required">*</span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.title_ru }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_title_us">EN <span class="required"></span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.title_us }}
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_title_tr">TR <span class="required"></span>
                  
              </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGood.form.title_tr }}
                  </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <!-- <a href="{% url 'good' %}">Cancel</a> -->
                  <button type="submit" class="btn btn-success">Update</button>
                </div>
              </div>
              <!-- <p><span>{{ form.error }}</span></p> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}