{% extends 'artelApp/base_site.html' %}
{% block title %} Products / goodImage {% endblock title %}


<!-- main -->
{% block content %}
  
<div class="right_col" role="main">

  <h2>Products / Good Images </h2>
  <div class="table-responsive">
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add a good image</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form data-parsley-validate class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="cats">Choose a good :</label>
                    <select name="good_id" id="cat" class="form-control" required>
                      <option value="" disabled selected>Choose..</option>
                      {% for good in dataGoodImage.good %}
                      <option value="{{ good.id }}">{{ good }} </option>
                      {% endfor %}
                    </select>
              </div>

              <div class="ln_solid"></div>
              <h3>Add a images</h3>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_good_img">Image <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ dataGoodImage.goodImage.good_img }} <br>
                  {{ dataGoodImage.form.good_img }}
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_good_badge">Badges <span class="required">*</span>                  
                </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ dataGoodImage.goodImage.good_badge }}
                    {{ dataGoodImage.form.good_badge }}
                  </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a href="{% url 'goodImage' %}">Cancel</a>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
              <!-- <p><span>{{ good.error }}</span></p> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}