{% extends 'artelApp/base_site.html' %}
{% block title %} Update {% endblock title %}

<!-- main -->
{% block content %}
  
<div class="right_col" role="main">

  <h2>Update</h2>
  <div class="table-responsive">

    <!-- Update -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add a category</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form data-parsley-validate class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_category_name_uz">UZ <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ form.category_name_uz }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_category_name_ru">RU <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ form.category_name_ru }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_category_name_us">US <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ form.category_name_us }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_category_name_tr">TR <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ form.category_name_tr }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_category_img">Image <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">                  
                  {{ form.category_img }}
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
              <p><span>{{ dataCategory.error }}</span></p>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}