{% extends 'artelApp/base.html' %}
{% block title %}
Good
{% endblock title %}

<!-- sidebar -->
{% block sidebar %}
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link " href="{% url 'index' %}">
      <span data-feather="home"></span>
      Dashboard <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'category' %}">
      <span data-feather="file"></span>
      Category
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'good' %}">
      <span data-feather="shopping-cart"></span>
      Products(goods)
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'feedbacks' %}">
      <span data-feather="users"></span>
      Customers(feedback)
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report' %}">
      <span data-feather="bar-chart-2"></span>
      Reports
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'stock' %}">
      <span data-feather="dollar-sign"></span>
      Stocks
    </a>
  </li>
</ul>
{% endblock sidebar %}

<!-- main -->
{% block main %}
  
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

  <h2>Good</h2>
  <div class="table-responsive">

    <!-- Category -->
    <table class="table table-hover">
      <thead class="thead-light">

        <tr>
          <th>Goods name</th>
          <th>title</th>
          <th>specification</th>
          <th>info</th>
          <th>image</th>
          <th></th>
          <th></th>
        </tr>

        <!-- input to the good  -->
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <tr>
              <th>            
                <select id="cats" name="cats" class="wrap-input100 validate-input form-control ">
                  <option value="" disabled selected>Choose category</option>
                  {% for cat in dataGood.categorie %}
                  <option value="{{ cat.id }}">{{ cat }} </option>
                  {% endfor %}
                </select>
              </th>
              <th>
                UZ {{ dataGood.form.title_uz }} <br> <br> 
                RU {{ dataGood.form.title_ru }} <br> <br>
                US {{ dataGood.form.title_us }} <br> <br>
                TR {{ dataGood.form.title_tr }}
              </th>  
              <th>
                UZ {{ dataGood.form.specif_uz }} <br> <br>
                RU {{ dataGood.form.specif_ru }} <br> <br>
                US {{ dataGood.form.specif_us }} <br> <br>
                TR {{ dataGood.form.specif_tr }}
              </th>
              <th>
                UZ {{ dataGood.form.good_info_uz }}
                <!-- RU {{ dataGood.form.good_info_ru }} <br> -->
                <!-- US {{ dataGood.form.good_info_us }} <br> -->
                <!-- TR {{ dataGood.form.good_info_tr }} <br> -->
              </th>
              <th>
                {{ dataGood.form.good_img }}
              </th>
              <th><input type="submit" value="ADD" class="btn btn-info"></th>
              <th></th>                
              <!-- <p><span>{{ good.error }}</span></p>  -->        
            </tr>
          </form>   

      </thead>
      <tbody>
        {% for good in dataGood.good  %}
          <tr>
            <td>{{ good.cat_id }}</td>
            <td>{{ good.title_uz }}</td>
            <!-- <td>{{ good.title_ru }}</td> -->
            <!-- <td>{{ good.title_us }}</td> -->
            <!-- <td>{{ good.title_tr }}</td> -->
            <td>{{ good.specif_uz }}</td>
            <!-- <td>{{ good.specif_ru }}</td> -->
            <!-- <td>{{ good.specif_us }}</td> -->
            <!-- <td>{{ good.specif_tr }}</td> -->
            <td>{{ good.good_info_uz }}</td>
            <!-- <td>{{ good.good_info_ru }}</td> -->
            <!-- <td>{{ good.good_info_us }}</td> -->
            <!-- <td>{{ good.good_info_tr }}</td> -->
            <td>{{ good.good_img }}</td>
            <td><a href="{% url 'updateGood' good.id %}" class='btn btn-info'>Update</a></td>
            <td><a href="{% url 'deleteGood' good.id %}" class='btn btn-danger'>Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</main>
{% endblock main %}