{% extends 'artelApp/base.html' %}
{% block title %}
Reports
{% endblock title %}

<!-- sidebar -->
{% block sidebar %}
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link " href="{% url 'index' %}">
      <span data-feather="home"></span>
      Dashboard <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <!-- <a class="nav-link " href="{% url 'category' %}"> -->
      <a class="nav-link" href="{% url 'category' %}">
      <span data-feather="file"></span>
      Category
    </a>
  </li>
  <li class="nav-item">
    <!-- <a class="nav-link " href="{% url 'good' %}"> -->
      <a class="nav-link" href="{% url 'good' %}">  
      <span data-feather="shopping-cart"></span>
      Products(goods)
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'feedbacks' %}">
      <span data-feather="users"></span>
      Customers
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'report' %}">
      <span data-feather="bar-chart-2"></span>
      Reports
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">
      <span data-feather="layers"></span>
      Integrations
    </a>
  </li>
</ul>
{% endblock sidebar %}

<!-- main -->
{% block main %}
  
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

  <h2>Reports</h2>
  <div class="table-responsive">

    <!-- language -->
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          {% for language in reports.languages  %}
          <th> {{ language.lang_id }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for language in reports.languages  %}
          <td> {{ language.clc_lang }} </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    <!-- categories -->
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          {% for category in reports.categories  %}
          <th> {{ category.cat_id }} </th>
          {% endfor %}
        </tr>
      </thead>
      <br><br>
      <tbody>
        <tr>
          {% for category in reports.categories  %}
          <td> {{ category.clc_cat }} </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <br><br>
    
    <!-- good -->
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          {% for good in reports.goods  %}
          <th> {{ good.good_id }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for good in reports.goods  %}
          <td> {{ good.clc_good }} </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

  </div>
</main>
{% endblock main %}