{% extends 'artelApp/base.html' %}
{% block title %}
Categorie
{% endblock title %}


<!-- sidebar -->
{% block sidebar %}
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link " href="{% url 'index' %}">
      <span data-feather="home"></span>
      Dashboard <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'category' %}">
      <span data-feather="file"></span>
      Category
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{% url 'good' %}">
      <span data-feather="shopping-cart"></span>
      Products(goods)
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'feedbacks' %}">
      <span data-feather="users"></span>
      Customers(feedback)
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report' %}">
      <span data-feather="bar-chart-2"></span>
      Reports
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'stock' %}">
      <span data-feather="dollar-sign"></span>
      Stocks
    </a>
  </li>
</ul>
{% endblock sidebar %}


<!-- main -->
{% block main %}
  
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

  <h2>Stocks</h2>
  <div class="table-responsive">

    <!-- Stock -->
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th class="font-weight-bold">Stock name</th>
          <th class="font-weight-bold">icon</th>
          <th class="font-weight-bold">banner</th>
          <th class="font-weight-bold">description</th>
          <th class="font-weight-bold">date</th>
          <th></th>
        </tr>

        <!-- Stock input -->
        <tr>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <th class="col-3">
                  {{ dataStock.form.title }}
                </th>
                <th class="col-2">
                  {{ dataStock.form.icon }}
                </th>
                <th class="col-2">
                  {{ dataStock.form.banner }}
                </th>
                <th class="col-2">
                  {{ dataStock.form.description }}
                </th>
                <th class="col-2">
                  {{ dataStock.form.date }}
                </th>
                <th class="col-1">
                  <input type="submit" value="ADD" class="btn btn-info">
                </th>
              </div>
              <p><span>{{ dataStock.error }}</span></p>
            </form>    
        </tr>

      </thead>
      <tbody>
        {% for categorie in dataCategory.categorie  %}
        <tr>
          <td> 
            <div class="row">
              <div class="col-6">
                UZ {{ categorie.cat_name_uz }} <br><br>
                RU {{ categorie.cat_name_ru }} <br><br>
                US {{ categorie.cat_name_us }} <br><br>
                TR {{ categorie.cat_name_tr }}
              </div>
              <div class="col-3">{{ categorie.cat_img }}</div>
              <div class="col-3">
                <a href="{% url 'updateCategory' categorie.id %}" class='btn btn-info'>Update</a>
                <a href="{% url 'deleteCategory' categorie.id %}" class='btn btn-danger'>Delete</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</main>
{% endblock main %}